<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Quick <span>Links</span></h4>
          <ul>
            <li>
              <a href="/about"><i class="fa fa-angle-right"></i> About Us</a>
            </li>
            <li>
              <a href="/disclaimer"
                ><i class="fa fa-angle-right"></i> Disclaimer</a
              >
            </li>
            <li>
              <a href="/privacy-policy"
                ><i class="fa fa-angle-right"></i> Privacy Policy</a
              >
            </li>
            <li>
              <a href="/terms-conditions"
                ><i class="fa fa-angle-right"></i> Terms & Conditions</a
              >
            </li>
            <li class="dsnp-ex">
              <a href="/cancellation-refund"
                ><i class="fa fa-angle-right"></i> Cancellation & Refund
                Policy</a
              >
            </li>

            <li>
              <a href="sitemap.xml"
                ><i class="fa fa-angle-right"></i> Site Map</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Contact <span>Info</span></h4>
          <ul class="dsnp-uladm" style="margin-bottom: 10px">
            <li class="dsnp-liadm">
              <a href="javascript:void(0);"
                ><i class="fa fa-home"></i>
                74699 TECHNOLOGY DR APT#14210 PALM DESERT, CA 92211
              </a>
            </li>
            <li>
              <a href="tel: (844) 915-7447"
                ><i class="fa fa-phone"></i> (844) 915-7447
              </a>
            </li>

            <li>
              <p>
                <a
                  href="mailto:sales@travelbooking.services"
                  style="display: flex; align-items: center; color: #ffffff"
                >
                  <i class="fa fa-envelope" style="margin-right: 8px"></i>
                  sales@travelbooking.services
                </a>
              </p>
            </li>

            <li>
              <p>
                <a
                  href="mailto:info@travelbooking.services"
                  style="display: flex; align-items: center; color: #ffffff"
                >
                  <i class="fa fa-envelope" style="margin-right: 8px"></i>
                  info@travelbooking.services
                </a>
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Disclaimer</h4>
          <p>
            travelbooking.services is an independent travel booking portal in
            the U.S., not affiliated with any airline or company. We are not
            responsible for any loss or damage resulting from use of this
            website.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="icon_St">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><img src="icon/05.png" /></li>
          <li><img src="icon/06.png" /></li>
          <li><img src="icon/07.png" /></li>
          <li><img src="icon/08.png" /></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer_btm">
  Copyright © 2024 travelbooking.services is a unit of travelbooking.services
  LLC. All Rights Reserved
</div>
