<nav class="navbar">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><img src="images/logo.png" class="logo"></a>
    </div>
	
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar_st">
        <li class="active"><a href="/"><strong>Home</strong></a></li>
        <li><a href="/about"><strong>About Us</strong></a></li>
        <li><a href="/us-flights"><Strong>Travel</Strong></a></li>
        <li><a href="/carhire-usa"><Strong>Car Hire</Strong></a></li>
        <li><a href="/contact"><Strong>Contact Us</Strong</a></li>
      </ul>
     <ul class="nav navbar-nav navbar-right">
                    <div class="tollfree" style="margin-left: 1.5rem;" >
                        <a href="tel: (844) 915-7447"><p style=" font-size: 16px; " > Call 24/7 for our best deals</p><img
                                src="images/phone01.png"> (844) 915-7447 </a>
                    </div>
                </ul>
    </div>
    </div>
  </div>
</nav>  